<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ item.item_name }}</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>{{ item.item_name }}</h1>
        <img src = '{{ item.item_image_url }}' width="20%" height="20%"><br>
        <a3>{{ item.item_desc }}</a3><br>
        <h3>Price: {{ item.item_price }}</a3>
    </div>
</body>
</html>