{% extends 'food/base.html' %}
    {% block body %}
        <div class="row">
            <h1 style="text-align: center;">Welcome to the GoodTaste!</h1>
        </div>
        {% for item in item_list %}
            <div class="row">
                <div class="col-md-3 offset-md-1">
                    <img class="card" width="200px" src="{{ item.item_image_url }}">
                </div>
                <div class="col-md-4">
                    <h3>{{ item.item_name }}</h3>
                    <h5>{{ item.item_desc }}</h3>
                    <h6>Price : ${{ item.item_price }}</h3>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-success" href="{% url 'food:detail' item.id %}">Details</a>
                    <a class="btn btn-warning" href="{% url 'food:update_item' item.id %}">Edit</a>
                </div>
            </div>
        {% endfor %}
    {% endblock %}